html{
     flex-wrap: wrap;
}
tr th {
    flex-wrap: wrap;
}

.jekey{
    flex-wrap: wrap;
}

.asahi {
    line-height: 5px;
}
.akuh {
    text-indent: 15px;
    margin-bottom: 0px;
    color: black;
}
.hana {
    border-collapse: collapse;

}

h3{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color:rgb(180, 216, 157) ;
}
.niki {
    width: 50%;
    margin: auto;
    background-color: rgb(203, 229, 160);
    padding: 10px;
}

.winter{
    text-align: center;
    border-color: rgb(188, 221, 135);
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    transition: 0.3s;
    padding: 12px 16px;
    background-color: rgb(102, 165, 59);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
 }

@media only screen and (max-width: 400px) {
    body {
        margin: 0;
        padding: 0;
    }
    .niki {
        width : 100%;
        padding : 0px;
    }
    .asahi {
        font-size: 1rem
    }
    td {
        font-size: 0.7rem
    }
  }

@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
    }
    .niki {
        width : 100%;
        padding : 0px;
    }
    .asahi {
        font-size: 1.2rem
    }
    td {
        font-size: 0.8rem
    }
    
  }

  input[type=text] {
    border: 2px solid rgb(23, 18, 94);
    border-radius: 4px;
  }

  input[type=date] {
    border: 2px solid rgb(23, 18, 94);
    border-radius: 4px;
  }

  input[type=text]:hover{
    background-color: rgb(194, 238, 188);
  }

  button:hover{
    transform: scale(1.2);
 }