.asahi{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.jekey{
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(188, 221, 135);

}

@media screen and (max-width:360px){
  form{
    width: auto;
    float: none;
  }
  div{
    width: auto;
    float: none;
  }

h3{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color:rgb(183, 224, 155) ;
}

fieldset{
    display: block;
    margin-top: 5px;
}

input[type=text] {
    border: 2px solid rgb(23, 18, 94);
    border-radius: 4px;
  }

  input[type=date] {
    border: 2px solid rgb(23, 18, 94);
    border-radius: 4px;
  }

  input[type=text]:hover{
    background-color: rgb(194, 238, 188);
  }

.alien1{
    margin-left: 3px;

}

.winter{
    text-align: center;
    border-color: rgb(188, 221, 135);
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    transition: 0.3s;
    padding: 12px 16px;
    background-color: rgb(102, 165, 59);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
 }

 button:hover{
    transform: scale(1.2);
 }
